{% extends 'base.html.twig' %}

{% block title %}Show Data{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="custom-form-bg">
            <h2>Average Intensity for <span class="country">{{ region }}</span></h2>
            {% if intensity_data %}
                {% set from = intensity_data[0].data[0].from|date('d/m/Y H:i:s', 'Europe/London') %}
                {% set to = intensity_data[0].data[0].to|date('d/m/Y H:i:s', 'Europe/London') %}
                {% if generation_type == 'all' %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>From</th>
                                <th>To</th>
                                <th>Fuel</th>
                                <th>Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in intensity_data %}
                                {% for generation in entry.data[0].generationmix %}
                                    <tr>
                                        <td>{{ from }}</td>
                                        <td>{{ to }}</td>
                                        <td>{{ generation.fuel }}</td>
                                        <td>{{ generation.perc }}%</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>From</th>
                                <th>To</th>
                                <th>Fuel</th>
                                <th>Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in intensity_data %}
                                {% for generation in entry.data[0].generationmix %}
                                    {% if generation.fuel == generation_type %}
                                        <tr>
                                            <td>{{ from }}</td>
                                            <td>{{ to }}</td>
                                            <td>{{ generation.fuel }}</td>
                                            <td>{{ generation.perc }}%</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% else %}
                <p>Failed to fetch data from the API.</p>
            {% endif %}
            <br>
            <a href="{{ path('home') }}" class="btn btn-primary">Back to Home</a>
        </div>
    </div>
{% endblock %}



